# NGINX location blocks for Kubernetes services
# Generated at: {{ generated_at }}
# Total locations: {{ locations|length }}
# Add these inside your server block

{% for location in locations -%}
        location {{ location.path }} {
            set $base_path "{{ location.path }}";
            rewrite ^{{ location.path }}/?(.*)$ /$1 break;
            proxy_pass http://{{ location.service_dns }};
        }

{% endfor %}

